/* src/app/home.css */
.homepage-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(135deg, #00c6ff, #0072ff);
  padding: 20px;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.main-content {
  text-align: center;
  margin-top: 50px;
  color: #fff;
}

.page-title {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.description {
  font-size: 1.1em;
  margin-bottom: 30px;
}

.gateway-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
